.git
.cache
target/debug/build
target/debug/deps
target/debug/examples
target/debug/incremental
target/release/build
target/release/deps
target/release/examples
target/release/incremental
target/x86_64-unknown-linux-gnu/release/build
target/x86_64-unknown-linux-gnu/release/deps
target/x86_64-unknown-linux-gnu/release/examples
target/x86_64-unknown-linux-gnu/release/incremental
